:root {
  --purple: #573280;
  --cream: #faf3dd;
}

.dashboard-container {
  padding: 20px;
  min-height: 100vh;
  background-color: var(--cream);
  font-family: Arial, sans-serif;
}

.dashboard-header {
  text-align: center;
  color: var(--purple);
  margin-bottom: 2rem;
}

.progress-text1,
.progress-text2,
.progress-text3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--purple);
  margin-bottom: 1rem;
}

.progress-bars {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0;
}

.progress-bar {
  width: 200px;
  height: 200px;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 170px;
}

.download-button {
  padding: 15px 20px;
  background-color: var(--purple);
  color: var(--cream);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.download-button:hover {
  transform: scale(1.05);
}