:root {
  --purple: #573280;
  --cream: #faf3dd;
  --base-font: 16px; /* Base font size for rem calculations */
}

.dashboard-header {
  text-align: center;
  color: var(--purple);
  margin-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.progress-text1,
.progress-text2,
.progress-text3 {
  font-size: 1.5rem; /* 24px */
  font-weight: bold;
  color: var(--purple);
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.progress-bars {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 2rem 0;
  position: relative;
  z-index: 1;
}

.progress-bar {
  width: 12.5rem; /* 200px */
  height: 12.5rem; /* 200px */
  text-align: center;
  position: relative;
  z-index: 1;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem; /* 20px */
  margin-top: 10.625rem; /* 170px */
  position: relative;
  z-index: 1;
}

.download-button {
  padding: 0.9375rem 1.25rem; /* 15px 20px */
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 0.3125rem; /* 5px */
  cursor: pointer;
  font-size: 1rem; /* 16px */
  transition: transform 0.3s ease;
}

.download-button:hover {
  transform: scale(1.05);
}
